* {
    margin: 0;
    padding: 0;
}
#sharebar {
    background: #fff;
    border: solid 1px #ccc;
    -webkit-box-shadow:  2px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  2px 3px 5px 0px rgba(0, 0, 0, 0.1);
    left: 20px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 200px;
    width: 60px;
}
#sharebar ul {
    float: left;
}
#sharebar ul li {
    color: #333;
    float: left;
    font-family: Arial;
    font-size: 11px;
    list-style: none;
    margin: 0 0 10px;
    text-align: center;
    width: 60px;
}
