#sharebar {
    background: #fff;
    border: solid 1px #ccc;
    -webkit-box-shadow:  2px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  2px 3px 5px 0px rgba(0, 0, 0, 0.1);
    left: 20px;
    padding: 10px;
    position: absolute;
    top: 200px;
    width: 60px;
    z-index: 99999;
}
#sharebar ul {
    float: left;
}
#sharebar ul li {
    float: left;
    list-style: none;
    width: 60px;
}
